<div class="footer">
    <section>
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
    </section>

    <section class="sec2">
        <h3>AROUND THE WEB</h3>
        <span class="f1">
        <i class="fa fab fa-facebook mx-1"></i>
    </span>
        <i class="fa fa-twitter mx-1"></i>
        <i class="fa fa-github mx-1"></i>
        <i class="fa fa-linkedin mx-1"></i>
    </section>

    <section>
        <h3>ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
    </section>
    
    </div>
    
    <div class="footer2">
        <p>Copyright © Your Website 2023 By <span>Mostafa Saad</span></p>
    </div>