section{
    background-color: #1abc9c;
    height: 90vh;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
section h1{
    color:#fff;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
section .sec1{
    color:#fff
}
section .sec2{
    color:#fff
}

.cont i{
    font-size: 30px;
    color:#fff
}
.cont .after{
    background-color: #fff;
    width: 100px;
    height: 5px;
    position: absolute;
    left: 41%;
    top: 50%;
    border-radius: .5rem;
}
.cont .before{
    background-color: #fff;
    width: 100px;
    height: 5px;
    position: absolute;
    left: 52.5%;
    top: 50%;
    border-radius: .5rem;
}