<section>
    <h2>PORTFOLIO COMPONENT</h2>
    <div class="cont fs-1 fw-bolder">
        <div class="after"></div>
        <i class="fa fa-star"></i>
        <div class="before"></div>
    </div>
</section>

<div class="imgs">
    <img [src]="user_img1" [style]="user_style" [alt]="user_alt">
    <img [src]="user_img2" [style]="user_style" [alt]="user_alt">
    <img [src]="user_img3" [style]="user_style" [alt]="user_alt">
</div>

<div class="imgs2">
    <img [src]="user_img1" [style]="user_style" [alt]="user_alt">
    <img [src]="user_img2" [style]="user_style" [alt]="user_alt">
    <img [src]="user_img3" [style]="user_style" [alt]="user_alt">
</div>