<section>
    <h2>CONATCT SECTION</h2>
    <div class="cont fs-1 fw-bolder">
        <div class="after"></div>
        <i class="fa fa-star"></i>
        <div class="before"></div>
    </div>
</section>

<form class="my-4">
    
    
    <div class="mb-3">
        <input type="text" placeholder=" User Name " class="form-control input1" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      
      <div class="mb-3">
        <input type="text" placeholder=" User age " class="form-control input1" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <input type="email" placeholder=" User Email " class="form-control input1" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
    <div class="mb-3">
      <input type="password" placeholder="User password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>